// Ant Design Styles Import
@import '../../../node_modules/antd/lib/style/themes/default.less';
@import '../../../node_modules/antd/dist/antd.less';

@font-face {
  font-family: Quicksand;
  src: url(assets/fonts/Quicksand/Quicksand-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Quicksand;
  src: url(assets/fonts/Quicksand/Quicksand-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Quicksand;
  src: url(assets/fonts/Quicksand/Quicksand-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Quicksand;
  src: url(assets/fonts/Quicksand/Quicksand-Bold.ttf);
  font-weight: 700;
}

@primary-color: @cyan-4; // primary color for all components
@primary-light: @cyan-2;
@primary-dark: @cyan-6;

@btn-text-color: #595959;
@icon-btn-hover: rgba(0, 0, 0, 0.08);

::selection {
  background: @cyan-6;
}

html, body {
  width: 100%;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

#root {
  width: 100%;
  height: 100%;
}

@import './globals.less';
@import './error.less';
