h1, h2, h3, h4, h5, h6 {
  &.title {
    font-family: Quicksand, sans-serif;
    font-weight: 700;
  }
  &.dark {
    color: white;
  }
}

p, span, div, a {
  font-family: Quicksand, sans-serif;
  font-weight: 400;
  .text, .description {
    line-height: 1.8rem;
    font-size: 1rem;
    @media (max-width: 599px) {
      line-height: 1.4rem;
      font-size: 0.8rem;
    }
  }
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.fullWidth {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &.dark {
    background-color: @dark-body;
  }
}

.btn {
  font-family: Quicksand, sans-serif;
  font-weight: 500;
  &.main-color {
    background-color: @primary-color;
    border: 1px solid @primary-color;
    color: white;
    &:hover {
      background: @primary-dark;
      border: 1px solid @primary-dark;
    }
    &.dark {
      background-color: @dark-primary-main;
      border: 1px solid @dark-primary-main;
      &:hover {
        background-color: @dark-primary-light;
        border: 1px solid @dark-primary-light;
      }
    }
  }
  &.big {
    min-height: 2.8rem;
    min-width: 8.6rem;
  }
}

.icon-btn {
  color: @text-color-secondary;
  &:hover, &:focus {
    color: @btn-text-color;
    background-color: @icon-btn-hover;
    &.dark {
      background-color: @btn-text-color;
    }
  }
}

.header {
  background-color: white;
  width: 100%;
  height: 4rem;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px;
  position: fixed;
  padding: 0.7rem 2rem;
  &.dark {
    background-color: @dark-header;
  }
  h3 {
    margin: 0 0 0 0.5rem;
    @media (max-width: 599px) {
      font-size: 1.25rem;
    }
  }
  .filler {
    display: none;
    @media (max-width: 959px) {
      display: block;
    }
  }
  .icon {
    width: 2.2rem;
    @media (max-width: 599px) {
      width: 1.8rem;
    }
  }
  .mode-icon {
    font-size: 1.2rem;
    max-height: 1.2rem;
    &.dark {
      color: white;
    }
  }
  @media (min-width: 600px) and (max-width: 959px) {
    padding: 0.7rem 1rem;
  }
  @media (max-width: 599px) {
    padding: 0.7rem 0.5rem;
  }
}

.page-loader {
  width: 100%;
  height: 100%;
}

.breadcrumbs {
  &.page {
    margin-bottom: 1.2rem;
  }
  & svg.icon {
    width: 1rem;
    max-height: 1rem;
    &.dark {
      color: white;
      &:hover {
        color: @dark-primary-light;
      }
    }
  }
}

.main {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 4rem);
  overflow-y: auto;
  &.dark {
    background: @dark-body;
  }
  .container {
    height: 100%;
    max-width: 100rem;
    padding: 2rem;
  }
}

.dashboard {
  > h2.title {
    margin-bottom: 0.25rem;
  }
}

.generic-spinner {
  display: flex;
  justify-content: center;
}

.page-spinner {
  color: @primary-color;
  margin-top: 0.4rem;
}
